* {
  font-family: "Open Sans", sans-serif;
}

.homepage {
  text-align: center;
  align-content: center;
  justify-content: center;
}

.hide {
  font-size: 4rem;
  visibility: hidden;
}

/* Navbar */
.navbar-flex {
  display: flex;
  justify-content: space-between;
  padding: 10px 1rem;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.navbar-flex.active {
  background-color: #0f2157;
}

.navbar-list {
  display: inline;
  margin: 0px 2rem;
}

.navbar-child-a {
  display: flex;
  position: relative;
  align-items: center;
}

.navbar-child-b {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
}

.hamburger-link {
  display: none;
  color: white;
}

.hamburger-link:hover {
  color: #9fbcd1;
}

.hamburger {
  display: none;
}

.cross {
  display: none;
}

@media (max-width: 768px) {
  .list-unstyled {
    flex-flow: column nowrap;
  }

  .hamburger-link {
    display: block;
    color: white;
    font-weight: lighter;
    font-size: 1.2rem;
  }

  .hamburger-link.active {
    display: none;
  }

  .hamburger {
    color: white;
    width: 25px;
    height: auto;
    margin-bottom: 10px;
    display: none;
  }

  .hamburger.active {
    display: block;
  }

  .cross.active {
    display: none;
  }

  .cross {
    margin-left: 50px;
    display: block;
    color: white;
    width: 27px;
    height: auto;
    margin-bottom: 10px;
  }

  .navbar-list {
    display: none;
  }
  .navbar-child-b {
    align-items: left;
    justify-content: flex-end;
  }
}

.list-unstyled {
  display: flex;
  align-items: center;
}

.navbar-child-c {
  display: flex;
  align-items: center;
}

.navbar-navlink {
  color: white;
  font-weight: lighter;
  font-size: 1.2rem;
}

.topbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.favicon {
  max-width: 40px;
  height: auto;
}

.text {
  text-align: center;
  font-weight: lighter;
}
.about {
  margin-left: 45px;
}

.projects {
  margin-left: 20px;
}

.header-flex {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
}

.header-landing-page {
  font-size: 2.5rem;
  font-weight: lighter;
  color: white;
}

.name {
  font-weight: bolder;
}

.scroll {
  font-size: 1.5rem;
}

.title {
  font-size: 1rem;
  color: #0f2157;
  font-weight: bolder;
}

.navbarIcon {
  width: 25px;
  height: auto;
  color: white;
}

.navbarIcon:hover {
  color: #9fbcd1;
}

.navbarVR {
  margin-top: 10px;
  font-size: 1.5rem;
  background-color: transparent;
}

.homepage {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.firstitem {
  margin-top: 50px;
}

.GDPvsHateCrime {
  margin-top: 5px;
  margin-bottom: 17px;
}

.hobbies-image {
  margin-bottom: 0.5rem;
  border: 3px solid black;
}

.project-name {
  text-align: center;
  font-weight: bolder;
}

.ischool {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blackstraw {
  margin-top: 7.5px;
  margin-bottom: 22px;
}

.satchl {
  height: 80px;
  width: 240px;
  margin-top: 6.25px;
  margin-bottom: 3px;
}

.padding {
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

@media (max-width: 1100px) {
  .padding {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media (max-width: 410px) {
  .padding {
    margin-right: 50px;
  }
}

@media (max-width: 500px) {
  .header-landing-page {
    font-size: 2rem;
  }
}
