*{
  font-family: "Open Sans", sans-serif;
}

.homepage{
  text-align: center;
}

.hide{
  font-size: 4rem;
  visibility: hidden;
}


/* Navbar */
.navbar-flex{
  display: flex;
  justify-content: space-between;
  padding: 10px 1rem;
  background-color: black;
}

.navbar-list{
  display: inline;
  margin: 0px 2rem;
}

.navbar-child-a{
  display: flex;
  position: relative;
  align-items: center;
}

.navbar-child-b{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: .8rem; 
}

.list-unstyled{
  display: flex;
  align-items: center;
}

.navbar-child-c{
  display: flex;
  align-items: center;

}

.navbar-navlink{
  color: white;
  font-weight: lighter;
  font-size: 1.2rem;
}

.topbar{
  position: fixed;
  width: 100%;
}

.favicon{
  max-width: 40px;
  height: auto;
}

.text {
  padding-top: .5rem;
}

.header-flex{
  display: flex;
  justify-content: center;
  margin-top: 12rem;
}

.header-landing-page{
  font-size: 2.5rem;
  font-weight: lighter;
  color: white;
}

.name{
  font-weight: bolder;
}

.scroll{
  font-size: 1.5rem;
}

.title{
  color: #173b6c;;
}